<div class="container pt-5 ml-5">
    <ul>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
        <li>aadadsa</li>
    </ul>
</div>